<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
  <style>
  .button {
      background-color: #4CAF50; /* Green */
      border: none;
      color: white;
      padding: 10px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
  }

  .button1 {
      background-color: #CC0529;
      color: white;
      border: 5px solid #CC0529;
  }

  </style>

<div class="jumbotron text-center">
  <img src="https://www.lunenburg.nu/cms/images/logo-lunenburg.png" alt="Lunenburg">
  
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Artikelen</h3>
        <td><a href="{{ path('omschrijvingArtikelenVerkoper')}}" class="button button1" role="button">Alle artikelen tonen</a></td>
    </div>
  </div>
</div>

</body>
</html>
