<!DOCTYPE html>
<html lang="en">
<head>
  <title>Lunenburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel ="stylesheet" href="web/css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    nav.navbar.navbar-expand-lg.navbar-light {
      background-color: #CC0529 !important;
  }
    ul.nav.navbar-nav li a {
      color: #fff;
  }
    ul.nav.navbar-nav li a:hover {
      background-color: #e41500;
  }
    ul.nav.navbar-nav.navbar-right li a {
      float: right;
  }
  </style>
</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #">

    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="https://image.ibb.co/dVx8t8/logo_lunenburg2.png" alt="Lunenburg" width="100" height="25" /></a></a>

    </div>
    <ul class="nav navbar-nav">
      {%  if is_granted('ROLE_INKOPER')%}
            <li><a href ="{{ path ('homepageInkoper')}}">Home</a></li>
      {% endif %}

      {%  if is_granted('ROLE_MAGAZIJNMEESTER')%}
            <li><a href ="{{ path ('homepageMagazijnmeester')}}">Home</a></li>
      {% endif %}

      {%  if is_granted('ROLE_ADMIN')%}
            <li><a href ="{{ path ('homepageAdmin')}}">Home</a></li>
      {% endif %}

      {%  if is_granted('ROLE_VERKOPER')%}
            <li><a href ="{{ path ('homepageVerkoper')}}">Home</a></li>
      {% endif %}

      <li><a href="/magazijnbeheer1/web/app_dev.php/login">Logout</a></li>

      <ul class="nav navbar-nav navbar-right">
      <li>{% if is_granted(expression('"ROLE_INKOPER" in roles')) %}
                <a><span class="glyphicon glyphicon-user"></span> Inkoper</a></li>

      <li>{% elseif is_granted(expression('"ROLE_MAGAZIJNMEESTER" in roles')) %}
                <a><span class="glyphicon glyphicon-user"></span> Magazijnmeester</a></li>

      <li>{% elseif is_granted(expression('"ROLE_ADMIN" in roles')) %}
                <a><span class="glyphicon glyphicon-user"></span> Admin</a></li>

      <li>{% elseif is_granted(expression('"ROLE_VERKOPER" in roles')) %}
                <a><span class="glyphicon glyphicon-user"></span> Verkoper</a></li>
      </ul>

          {% endif %}
      </li>
    </ul>
  </div>
</nav>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
