<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <img src="lunenburg.jpg" alt="lunenburg" width="100" height="100">
  <h1>Lunenburg</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Artikelen</h3>
        <a href="{{ path ('alleArtikelenMagazijnmeester')}}">Alle artikelen tonen</a> <br>
        <a href="{{ path ('artikelMagazijnmeesterNieuw')}}">Nieuw artikel toevoegen</a>
    </div>
    <div class="col-sm-4">
      <h3>Goederen</h3>
        <a href="{{ path ('allegoederenMagazijnmeester')}}">Alle goederen tonen</a> <br>
        <a href="{{ path ('goederenNieuw')}}">Nieuw goederen toevoegen</a> <br>
  </div>
</div>

</body>
</html>
