{% extends 'base.html.twig' %}
{% block body %}
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2><br>Gebruikers overzicht</br></h2>
  <table class="table">
    <thead>
      <tr>
        <th>Gebruikersnaam</th>
        <th>E-mail</th>
        <th>Wachtwoord</th>
        <th>Rol</th>
      </tr>
    </thead>
    <tbody>
      {% for gebruiker in gebruikers %}
      <tr>
        <td>{{ gebruiker.gebruikersnaam }}</td>
        <td>{{ gebruiker.email }}</td>
        <td>{{ gebruiker.wachtwoord }}</td>
        <td>{{ gebruiker.rol }}</td>
      </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
