{% extends 'base.html.twig' %}
{% block body %}
	<h1>Bestelopdrachten overzicht</h1>
	<ol>
	{% for artikel in artikelen %}
			<li>
				<span style='color:black'> {{artikel.artikelnr}}</span>
				<span style='color:black'>{{artikel.omschrijving}} </span>
        <span style='color:black'>{{artikel.hoeveelheid}} </span>

			</li>
	{% endfor %}
  </ol>
{% endblock %}
